<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="CAServiceBehavior">
                    <dataContractSerializer maxItemsInObjectGraph="5000000" />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICAService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
                    hostNameComparisonMode="StrongWildcard" listenBacklog="10"
                    maxBufferPoolSize="105000000" maxBufferSize="105000000" maxConnections="10"
                    maxReceivedMessageSize="105000000">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Transport">
                        <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:3333/CAService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ICAService" contract="CAServiceReference.ICAService"
                name="NetTcpBinding_ICAService">
                <identity>
                    <userPrincipalName value="HMSTR-546E2F\Apocalyptic Hamster" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>